
.container {
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent-pic {
    display: flex;
    justify-content: center;
}

.picture {
    width: 36vw;
}

.projects {
    display: flex;
}

.project-flex {
    display: flex;
    flex-direction: row;
}

.project-cards{
    height: 50vh;
    width: 25vw;
    overflow-x: scroll;
    flex-direction: row;
}

.foot{
    display: flex;
    justify-content: center;
}

.contact-list{
    justify-content: center;
}